<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/480b71bc-247f-4438-bf6c-2a1d555a867f/resourcegroups/RealTimeServerClock20210921215234ResourceGroup/providers/Microsoft.Web/sites/RealTimeServerClock20210921215234</ResourceId>
    <ResourceGroup>RealTimeServerClock20210921215234ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://realtimeserverclock20210921215234.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>10d69ee5-8e61-40c5-a5da-7e7d75257ee2</ProjectGuid>
    <PublishUrl>https://realtimeserverclock20210921215234.scm.azurewebsites.net/</PublishUrl>
    <UserName>$RealTimeServerClock20210921215234</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>